<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Sean Malek Coding Assessment</title>
</head>
<body>
<h1>Restaurant List</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Type</th>
		<th>Latitude</th>
		<th>Longitude</th>
	</tr>
	<tr th:each="restaurant: ${restaurants}">
		<td align="center" th:text="${restaurant.id}">ID</td>
		<td align="center" th:text="${restaurant.name}">Name</td>
		<td align="center" th:text="${restaurant.type}">Type</td>
		<td align="center" th:text="${restaurant.latitude}">Latitude</td>
		<td align="center" th:text="${restaurant.longitude}">Longitude</td>
	</tr>
</table>

</body>
</html>